body {
    display: flex;
    flex-direction: column;
}

header {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1, h2, h3 {
    width: 100%;
    text-align: center;
}

h2 {
    text-align: center;
}

ul {
    display: block;
    margin: 0px;
    padding: 10px;
    list-style: none;
 
}

li {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
 
}

.section-title {
    padding: 10px;
    margin: 10px;
    background-color: aquamarine;
    width: 100%;
    justify-content: center;
}

.main-content {
    padding: 10px;
    margin: 10px;
    background-color: aquamarine;
    width: 100%;
}

img {
    width: 100%;
}

#contact-info {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {

    header {
        background-color: aqua;
    }
    h3 {
        text-align: right;
    }
    .large-img {
        min-height: 400px;
        width: 100%;
    }
    .main-content {
        display: flex;
        width: 60%;
        justify-content: center;
    }
    .section-title {
        width: 10%;
        text-align: right;
    }
    #contact-info {
        display: flex;
        justify-content: space-between;
    }
    #about-text {
        width: 60%;
    }
    
    #about-photo {
        width: 40%;
    }
    
    .small-img {
        width: 50%;
    
    }
    
}
  
  
@media screen and (min-width: 992px) {
    header {
        justify-content: space-between;
        background-color: green;
    }
    h1 {
        text-align: left;
    }
    h3 {
        text-align: right;
    }
    .main-content {
        width: 40%;
    }

  }
