:root {
    --main:  rgb(245, 54, 29);
    --secondary: rgb(199, 243, 252);
    --highlight: white;
    font-size: 45px;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--main);
    margin: -10px;
    padding: 1.5% 1.5% 1.5% 3%;
    border: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul {
    display: block;
    margin: 0px;
    padding: 10px;
    list-style: none;
 
}

li {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

h1, h2, h3, h4, p {
    font-family: monospace;
}

h1, h3 {
    color: var(--highlight)
}

h1, h2 {
    font-size: 60%;
    text-align: center;
}

h2, h3{
    color: var(--main);
}

h2 {
    width: 110px;
    margin: 10px;
    padding: 20px;
    background-color: var(--highlight);
    box-shadow: -10px 10px 0px var(--secondary);
}

h2:hover {
    color: var(--secondary);
}

h3 {
    font-size: 80%;
    text-align: center;
    margin: 0px;
    text-decoration: underline var(--secondary);
    text-decoration-thickness: 6px;
    text-underline-offset: 10px;
}

h4 {
    font-size: 60%;
    color: var(--main);
}

h4:hover {
    color: var(--highlight);
}

p {
    font-size: 50%;
    line-height: 1.5;
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: bold;
 }

 a:hover {
    color: var(--main);
 }

 /* li a:hover {
    color: var(--secondary);
    position: absolute;
    top: 10px;
    right: 10px;
} */

#about-and-headshot {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

section, .section-header {
    margin: 0px;
    padding: 30px;
    position: relative;
    width: 100%;

}

#headshot {
    max-width: 30%;
    float: right;
}

img {
    width: 100%;
    margin: 10px;
    height: auto;
    box-shadow: -10px 10px 0px var(--secondary);
}

.project-title {
    position: absolute;
    background-color: var(--secondary);
    margin: 0px;
    padding: 10px;;
    bottom: 32px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;
    padding: 20px;
    height: 20;
    background-color: var(--secondary);
    margin: -20px;
}

@media screen and (min-width: 576px) {
    h1 {
       font-size: 100%;
    }
    ul {
        display: flex;
        justify-content: center;
    }
    .small-image {
        width: 50%;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .section-header {
        width: 20%;
    }
    section {
        width: 60%;
    }
    h3 {
        text-align: right;
    }
    .small-image {
        width: 50%;
        height: auto;
    }
}
  
  
@media screen and (min-width: 992px) {
    header {
        justify-content: space-between;
    }
    .section-header {
        width: 20%;
    }
    section {
        width: 40%;
    }
    .small-image {
        width: 50%;
        height: auto;
    }
  }
